<div id="notelistview" ng-cloak>

  <div class="navbar-fixed">
  <nav class="white" role="navigation">
    <div class="nav-wrapper container">
      <a href="#/" class="collapse-left teal-text text-lighten-2 margin-min-left-20" style="padding-top: 10px;"><ng-md-icon icon="arrow_back" size="30" style="fill:#4db6ac"></ng-md-icon></a>
      <a id="logo-container" href="#/" class="teal-text text-lighten-2">Your Highlights</a>
      <!-- <a class="teal-text text-lighten-2 right" ng-click="onSave()" style="padding-top: 10px;"><ng-md-icon icon="done" size="30" style="fill:#4db6ac"></ng-md-icon></a> -->
    </div>
  </nav>
  </div>
  <br>
  <div class="row">
    <div class="col s12" ng-repeat="hl in highlights">
      <div class="card">
        <div class="card-content">
          <span class="teal-text text-lighten-2 quranFont" style="font-size: 20px;"><span class="left">{{hl.sura_name}}</span> <span>{{hl.sura}}:{{hl.aya}}</span></span>
          <p class="quranText {{hl.color}}">{{hl.aya_text}}</p>
        </div>
        <div class="card-action">
          <a class="black-text right" ng-click="deleteHighlight(hl.id)"><i class="material-icons">delete</i></a>
          <a class="black-text" href="#/quran/{{hl.sura}}/{{hl.aya}}"><i class="material-icons">remove_red_eye</i></a>
        </div>
      </div>
    </div>
  </div>
</div>