<div id="notelistview" ng-cloak>
  <div class="navbar-fixed">
  <nav class="white" role="navigation">
    <div class="nav-wrapper container">
      <a href="#/" class="collapse-left teal-text text-lighten-2 margin-min-left-20">
        <i class="material-icons">arrow_back</i>
      <!-- <ng-md-icon icon="arrow_back" size="30" style="fill:#4db6ac"></ng-md-icon></a> -->
      <a id="logo-container" href="#/" class="teal-text text-lighten-2">Your Notes</a>
      <!-- <a class="teal-text text-lighten-2 right" ng-click="onSave()" style="padding-top: 10px;"><ng-md-icon icon="done" size="30" style="fill:#4db6ac"></ng-md-icon></a> -->
    </div>
  </nav>
  </div>

  <br>

  <div class="row">
    <!-- "INSERT INTO notes (sura_name, sura, aya, note_group, note, note_date) VALUES (?,?,?,?,?,?)" -->
    <div class="col s12" ng-repeat="noteitem in notes">
      <div class="card">
        <div class="card-content" ng-click="showNoteDetail(noteitem.id);">
          <span class="teal-text text-lighten-2 quranFont" style="font-size: 20px;"><span class="left">{{noteitem.sura_name}}</span> <span>{{noteitem.sura}}:{{noteitem.note_group}}</span></span>
          <p>{{noteitem.note}}</p>
        </div>

        <!-- TODO: Use it as list of actions in the future
        <div class="card-action">
          <a class="black-text" href="#/quran/{{noteitem.sura}}/{{noteitem.aya}}"><i class="material-icons">remove_red_eye</i></a>
        </div>
        -->

      </div>
    </div>
  </div>
</div>