<div id="quranview" ng-cloak>

  <div class="navbar-fixed">

  <!-- Home navbar -->
  <nav class="white" role="navigation" id="topNavBarHome">
    <div class="nav-wrapper container">
      <a href="#" data-activates="nav-mobile" class="button-collapse teal-text text-lighten-2 margin-min-left-30"><i class="material-icons">menu</i></a>
      <img ng-src="./img/logo-64.png" alt="iQuran Kareem" style="width: 36px;margin-top: 10px;">
      <a class="brand-logo teal-text text-lighten-2 quranFont" style="font-size: 20px;font-weight: bold">سورة {{suraName}}</a>

      <a class="teal-text text-lighten-2 right modal-trigger" href="#modalSura" style="padding-top: 13px;"><i class="material-icons">brightness_low</i></a>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="#/sura">Sura</a></li>
        <li><a href="#/jiza">Ajiza'</a></li>
        <li><a href="#/note/list">Notes</a></li>
        <li><a href="#/bookmark/list">Bookmarks</a></li>
        <li><a href="#/highlight/list">Highlights</a></li>
        <li><a href="#/trans">Translation</a></li>
        <!-- # TODO: full fill these menus to the next version of the app
        <li><a href="#/tajweed">Tajweed</a></li>
        <li><a href="#/recitation">Recitation</a></li>
        <li><a href="#/tags">Tags</a></li>
        <li><a href="#/odoj">ODOJ (One Day One Juz)</a></li>
        <li><a href="#/setting">Setting</a></li>
        <li><a href="#/faq">iQuran FAQ</a></li>
        <li><a href="#/donate">Donate</a></li> -->
      </ul>

    </div>
  </nav>

  <!-- detail navbar -->
  <nav class="white" role="navigation" id="topNavBarDetail" style="display: none;">
    <div class="nav-wrapper container">
      <a class="teal-text text-lighten-2 left modal-trigger" href="#modalTune" style="padding-top: 13px;"><i class="material-icons">tune</i></a>
      <a class="teal-text text-lighten-2 left modal-trigger" href="#modalBox" style="padding-top: 13px;margin-left: 20px;"><i class="material-icons">chrome_reader_mode</i></a>
      <!-- <a class="teal-text text-lighten-2 left" style="padding-top: 10px;"><ng-md-icon icon="volume_up" style="fill:#4db6ac" size="30"></ng-md-icon></a> -->
      <!-- <a class="teal-text text-lighten-2 left" style="padding-top: 10px;margin-left: 20px;"><ng-md-icon icon="format_color_fill" style="fill:#4db6ac" size="30"></ng-md-icon></a> -->
      <!-- <a class="teal-text text-lighten-2 right" href="#/choice" style="padding-top: 10px;"><ng-md-icon icon="search" style="fill:#4db6ac" size="30"></ng-md-icon></a> -->
    </div>
  </nav>

  </div>

  <!-- Modal Structure -->
  <div id="modalTune" class="modal">
    <div class="modal-content">
      <div class="row">
        <div class="col s2">Size</div>
        <div class="col s8"><div id="tapSlider"></div></div>
        <div class="col s2"><span id="fontSizeInfo"></span></div>
      </div>
      <div class="row">
        <div class="col s5">Show Notes</div>
        <div class="col s7">
          <div class="switch">
            <label>
              Off
              <input ng-checked="showNotes" class="showNotes" type="checkbox" ng-click="onClickShowNotes()">
              <span class="lever"></span>
              On
            </label>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <a class="modal-action modal-close btn-flat">Done</a>
    </div>
  </div>

  <div id="modalBox" class="modal modal-fixed-footer">
    <div class="modal-content">

      <div class="col s12"><strong>Quran Type</strong></div>
      <form action="#">
        <p ng-repeat="tp in types">
          <input name="type" type="radio" id="simpleRadio-{{tp.key}}" value="{{tp.key}}" ng-click="onClickType(tp.key)" ng-checked="optionType == tp.key" />
          <label for="simpleRadio-{{tp.key}}">{{tp.value}}</label>
        </p>
      </form>
      <hr>
      <div class="col s12"><strong>Reading Mode</strong></div>
      <form class="col s12">
        <p ng-repeat="md in modes">
          <input name="mode" type="radio" id="mode-{{md.key}}" value="{{md.key}}" ng-click="onClickMode(md.key)" ng-checked="optionMode == md.key" />
          <label for="mode-{{md.key}}">{{md.value}}</label>
        </p>
      </form>
    </div>
    <div class="modal-footer">
      <a class="modal-action modal-close btn-flat">Done</a>
    </div>
  </div>

  <div id="modalSura" class="modal modal-fixed-footer">
    <div class="modal-content">

      <div class="col s12"><strong>Surah</strong></div>
      <form action="#">
        <p ng-repeat="sura in suraOptions">
          <input name="sura" type="radio" id="radioSuraOption-{{sura.sura}}" value="{{sura.sura}}" ng-click="onClickSuraOption(sura.sura)"/>
          <label for="radioSuraOption-{{sura.sura}}">{{sura.name}} ({{sura.tname}})</label>
        </p>
      </form>
    </div>
    <div class="modal-footer">
      <a class="modal-action modal-close btn-flat">Done</a>
    </div>
  </div>

  <div id="quran-tab" class="main-tab quran">
    <!-- <div class="suraHeaderFrame"> -->
    <br>
    <div>
      <div class="center-align quranFont">{{quran.tname}}</div>
      <div class="center-align quranFont">{{quran.ename}}</div>
      <div class="center-align quranFont">{{quran.type | suraType}}</div>
    </div>
    <div id="quranText">
    <div class="ayaText besm quranFont" ng-show="besmShow">بِسْمِ اللَّـهِ الرَّحْمَـٰنِ الرَّحِيمِ </div>

    <div id="ayasContainer" class="unselectable">

      <span id="{{sura.sura}}-{{sura.aya}}" data-aya="{{sura.aya}}" ng-class="aya" ng-repeat="sura in surasObj">

        <div class="row aya-wrapper quranFont aya" ng-if="quranMode == 'arabic'" id="{{sura.sura}}-{{sura.aya}}" data-aya="{{sura.aya}}">
          <div class="col s2 left-align">{{sura.sura}}:{{sura.aya}}</div>
          <div class="col s2 left-align">
            <i class="material-icons teal-text text-lighten-2 selected-aya">check_circle</i>
          </div>
          <div class="col s2 left-align">
            <i ng-show="sura.notes" class="material-icons red-text">mode_edit</i>
          </div>
          <div class="col s2 left-align">
            <i ng-show="sura.bookmarks" class="material-icons green-text">bookmark</i>
          </div>
          <div class="col s12 ayaText quranText {{sura.highlights}}" ng-bind-html='sura.text | ayaSign'></div>
          <!-- Display Notes -->
          <div class="col s12 left-align" ng-show="sura.notes && showNotes">
            <i ng-show="sura.notes" class="material-icons red-text tiny">mode_edit</i> <span ng-bind-html='sura.notes'></span>
          </div>
        </div>


        <div class="row aya-wrapper quranFont aya" ng-if="quranMode == 'arabicTrans'" id="{{sura.sura}}-{{sura.aya}}" data-aya="{{sura.aya}}">
          <div class="col s2 left-align">{{sura.sura}}:{{sura.aya}}</div>
          <div class="col s2 left-align">
            <i class="material-icons teal-text text-lighten-2 selected-aya">check_circle</i>
          </div>
          <div class="col s2 left-align">
            <i ng-show="sura.notes" class="material-icons red-text">mode_edit</i>
          </div>
          <div class="col s2 left-align">
            <i ng-show="sura.bookmarks" class="material-icons green-text">bookmark</i>
          </div>

          <div class="col s12 ayaText quranText {{sura.highlights}}" ng-bind-html='sura.text | ayaSign'></div>
          <div class="col s12 ayaText left-align {{sura.highlights}}" ng-bind-html='sura.trans'></div>
          <!-- Display Notes -->
          <div class="col s12 left-align" ng-show="sura.notes && showNotes">
            <i ng-show="sura.notes" class="material-icons red-text tiny">mode_edit</i> <span ng-bind-html='sura.notes'></span>
          </div>
        </div>


        <div class="row aya-wrapper quranFont aya" ng-if="quranMode == 'trans'" id="{{sura.sura}}-{{sura.aya}}" data-aya="{{sura.aya}}">
          <div class="col s2 left-align">{{sura.sura}}:{{sura.aya}}</div>
          <div class="col s2 left-align">
            <i class="material-icons teal-text text-lighten-2 selected-aya">check_circle</i>
          </div>
          <div class="col s2 left-align">
            <i ng-show="sura.notes" class="material-icons red-text">mode_edit</i>
          </div>
          <div class="col s2 left-align">
            <i ng-show="sura.bookmarks" class="material-icons green-text">bookmark</i>
          </div>

          <div class="col s12 ayaText {{sura.highlights}}" ng-bind-html='sura.text'></div>
          <!-- Display Notes -->
          <div class="col s12 left-align" ng-show="sura.notes && showNotes">
            <i ng-show="sura.notes" class="material-icons red-text tiny">mode_edit</i> <span ng-bind-html='sura.notes'></span>
          </div>
        </div>

      </span>
    </div>


    </div>
    <div class="transText" id="transText" style="display: none;"></div>
  </div>

  <div class="fixed-floating-btn-left floatingBtn" ng-click="prevSura()">
    <a class="btn-floating"><i class="material-icons">chevron_left</i></a>
  </div>
  <div class="fixed-floating-btn-right floatingBtn" ng-click="nextSura()">
    <a class="btn-floating"><i class="material-icons">chevron_right</i></a>
  </div>

  <div class="fixed-action-btn" style="display:none">
    <a class="btn-floating btn-large red" ng-click="addNotes()"><i class="material-icons">mode_edit</i></a>
    <ul>
      <!-- <li><a class="btn-floating blue"><i class="material-icons">share</i></a></li> -->
      <!-- <li><a class="btn-floating teal"><i class="material-icons">content_copy</i></a></li> -->
      <!-- <li><a class="btn-floating red" ng-click="addLabel()"><i class="material-icons">label</i></a></li> -->
      <li><a class="btn-floating yellow darken-1" ng-click="addHighlight()"><i class="material-icons">format_color_fill</i></a></li>
      <li><a class="btn-floating green" ng-click="addBookmark()"><i class="material-icons">bookmark</i></a></li>
    </ul>
  </div>

</div>